Tema 4/Tema4XSD/Ejercicio7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pelicula">
        <xs:complexType>
            <xs:attribute name="titulo" type="xs:string" use="optional"></xs:attribute>
            <xs:attribute name="genero" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>


<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pelicula [
 <!ELEMENT pelicula EMPTY>
 <!ATTLIST pelicula titulo CDATA #IMPLIED>
 <!ATTLIST pelicula genero CDATA #REQUIRED>
]>
<pelicula titulo="La diligencia" genero="oeste" />-->